:root{
    --bs-primary: #ffffff !important;
    --color-secondary: #fafafa;
}

@media screen and (max-width: 768px) {
    .responsivenav {
        display: flex;
        justify-content: center;
    }
}

.bg-img{
    background: linear-gradient(#ffffff5a, #ffffff5a), url(https://www.workday.com/content/dam/web/zz/images/illustrations/img-diversity-hero-group.png);
    background-size: cover;
    /* background-position: center; */
}

* {
    font-family: 'IBM Plex Sans', sans-serif;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    transform: translateX(-70px);
}