:root{
    --bs-primary: #ffffff !important;
    --color-secondary: #fafafa;
}

.bg-img{
    background: linear-gradient(#ffffff5a, #ffffff5a), url(https://www.workday.com/content/dam/web/zz/images/illustrations/img-diversity-hero-group.png);
    background-size: cover;
}

* {
    font-family: 'IBM Plex Sans', sans-serif;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    /* translate to the left 20 pixels */
    transform: translateX(-70px);
}